### Example user template
/target/
# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)

.settings/
*.settings/
logs*
*.log
rebel.xml
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
